body{
    text-align:center;
    font-family:Arial;
}

#game{
    width:800px;
    height:200px;
    border:2px solid black;
    margin:auto;
    position:relative;
    overflow:hidden;
    background:#f7f7f7;
}

#papa{
    width:65px;
    position:absolute;
    bottom:0;
    left:55px;
    display:block;
}

#cactus{
    width:25px;
    height:50px;
    background:darkgreen;
    position:absolute;
    bottom:0;
    left:800px;
}

.jump{
    animation:jump 0.5s;
}

@keyframes jump{
    0%{bottom:0;}
    50%{bottom:100px;}
    100%{bottom:0;}
}
